._interior {
  width: 525px;
  height: 100vh;
}
._interior > ._interior-title {
  color: #FFF;
  background-color: rgba(30, 30, 30, 0.86);
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding: 30px 94px 46px 94px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._interior > ._interior-title:after {
  position: absolute;
  top: 23px;
  right: 90px;
  width: 110px;
  height: 110px;
  content: "";
  background-image: url("../image/interior.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
._interior ._interior-filter {
  display: flex;
  justify-content: space-between;
}
._interior ._interior-filter > ._filter {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 22px 0 0 106px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._interior ._interior-filter > ._reset-filter {
  color: #F6F6F6;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 32px 36px 0 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._interior ._interior-checkbox-title {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 47px 0 0 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._interior ._interior-form-store {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 43px;
  gap: 20px;
}
._interior ._interior-form-products {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 43px;
  gap: 20px;
}
._interior ._interior-price {
  color: #FFF;
  font-family: "Inte", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 70px 0 0 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

._interior-checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding-left: 63px;
  position: relative;
}
._interior-checkbox > input {
  display: none;
}
._interior-checkbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 3px;
  border: 2px solid #FFF;
  background: rgba(181, 181, 181, 0.35);
}
._interior-checkbox:has(input:checked):after {
  background: rgba(255, 195, 139, 0.9);
  background-image: url("../image/vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.slider {
  width: 500px;
  height: 60px;
  padding: 30px;
  padding-left: 40px;
  margin-top: 20px;
  gap: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 20px auto;
}
.slider > input[type=range] {
  -webkit-appearance: none !important;
  width: 330px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.slider > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.slider > input[type=range]::-webkit-slider-thumb:hover {
  background-color: orange;
}
.slider > input[type=range]:-moz-range-progress {
  background-color: blue;
  height: 30px;
}
.slider > .slider-number {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border-radius: 12px;
  padding: 10px 14px;
  width: 70px;
  text-align: center;
}

._nav-list > ._nav-button {
  display: flex;
  align-items: center;
  gap: 120px;
}
._nav-list > ._nav-button > ._nav-button-home {
  color: #000;
  font-family: "Abel", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 11px;
  border: 1.5px solid rgba(0, 0, 0, 0.7);
  background: rgba(199, 255, 231, 0.32);
  padding: 5px 30px;
  margin: 30px 0 33px 42px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._nav-list > ._nav-button > ._nav-link-new-items {
  color: rgba(0, 0, 0, 0.9);
  font-family: "Abel", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
._nav-list > ._nav-button > ._nav-link-search {
  position: relative;
}
._nav-list > ._nav-button > ._nav-link-search:before {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("../image/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
._nav-list > ._nav-button > ._nav-link-search > input {
  width: 450px;
  height: 50px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 11px;
  border: 0px solid rgba(0, 0, 0, 0.8);
  background: #FFF;
  padding-left: 60px;
}
._nav-list > ._nav-button > ._nav-button-list {
  position: relative;
  margin-left: -50px;
  top: -20px;
}
._nav-list > ._nav-button > ._nav-button-list > ._nav-button-list-bell {
  width: 36px;
  height: 36px;
  position: absolute;
  content: "";
  background-image: url("../image/bell.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
._nav-list > ._nav-button > ._nav-button-list > ._nav-button-list-shopping-bag {
  width: 33px;
  height: 33px;
  position: absolute;
  content: "";
  background-image: url("../image/shopping-bag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 100px;
}
._nav-list > ._nav-button > ._nav-button-list > ._nav-button-list-log-in {
  width: 33px;
  height: 33px;
  position: absolute;
  content: "";
  background-image: url("../image/log-in.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 200px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: row;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: all;
  border-radius: 0;
}

._interior-control {
  height: calc(100vh - 168px);
  overflow-y: auto;
  background-color: rgba(30, 30, 30, 0.8);
}
._interior-control::-webkit-scrollbar {
  display: none;
}

._interior-nav {
  width: 1500px;
  height: 120px;
  border-radius: 10px;
  background-color: #F6F6F6;
}/*# sourceMappingURL=app.css.map */