._interior {
    width: 525px;
    height: 100vh;

    & > ._interior-title {
        color: #fff;

        background-color: rgba(30, 30, 30, 0.86);

        font-family: "Inter", sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        position: relative;

        padding: 30px 94px 46px 94px;

        box-sizing: border-box;
        user-select: none;

        &:after {
            position: absolute;
            top: 23px;
            right: 90px;

            width: 110px;
            height: 110px;

            content: "";

            background-image: url("../image/interior.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 90%;
        }
    }

    & ._interior-filter {
        display: flex;
        justify-content: space-between;

        & > ._filter {
            color: #fff;

            font-family: "Inter", sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            margin: 22px 0 0 106px;

            position: relative;

            cursor: pointer;
            user-select: none;

            &::before {
                width: 40px;
                height: 40px;

                content: "";

                position: absolute;

                left: -60px;
                top: calc(50% - 20px);

                background-image: url("../image/filter_icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        & > ._reset-filter {
            color: #f6f6f6;

            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            margin: 32px 36px 0 0;

            text-decoration: underline;
            text-underline-offset: 4px;

            cursor: pointer;
            user-select: none;
        }
    }

    & ._interior-checkbox-title {
        color: #fff;

        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin: 47px 0 0 45px;
        user-select: none;
    }

    & ._interior-form-store {
        display: flex;
        flex-direction: column;

        margin: 30px 0 0 43px;
        gap: 20px;
    }

    & ._interior-form-products {
        display: flex;
        flex-direction: column;

        margin: 30px 0 0 43px;
        gap: 20px;
    }

    & ._interior-price {
        color: #fff;

        font-family: "Inte", sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin: 70px 0 0 45px;
        user-select: none;
    }
}

// <label for="products-checkbox-loundry" class="_interior-checkbox">
//                     <input type="checkbox" name="products-checkbox" id="products-checkbox-loundry">Loundry(14)
//                 </label>

._interior-checkbox {
    user-select: none;

    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    padding-left: 63px;

    position: relative;

    & > input {
        display: none;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 30px;
        height: 30px;

        content: "";

        border-radius: 3px;
        border: 2px solid #fff;
        background: rgba(181, 181, 181, 0.35);
    }

    &:has(input:checked):after {
        background: rgba(255, 195, 139, 0.9);
        background-image: url('../image/checkbox.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
    }
}

// ._interior-form-products{
// max-height: 20vh;
// overflow-y: auto;

// &::-webkit-scrollbar {
//     width: 10px;
// }

// &::-webkit-scrollbar-track {
//     background-color: rgb(228, 228, 228);

//     border-radius: 10px;
// }

// &::-webkit-scrollbar-thumb {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.686);
//     border-radius: 10px;
// }
// }

// <div class="slider">
//                 <input type="range" min="0" max="1000" value="200" oninput="rangeValue.innerTex = this.value">
//                 <p id="rangeValue"200></p>
//             </div>

.slider {
    width: 500px;
    height: 60px;

    padding: 30px;
    padding-left: 40px;
    margin-top: 20px;
    gap: 20px;

    // background-color:aquamarine;
    border-radius: 20px;
    display: flex;
    align-items: center;
    user-select: none;

    margin: 20px auto;

    & > input[type="range"] {
        -webkit-appearance: none !important;

        width: 330px;
        height: 2px;

        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none !important;

            width: 30px;
            height: 30px;

            background-color: white;
            border: 3px solid black;
            border-radius: 20px;

            cursor: pointer;

            &:hover {
                background-color: orange;
            }
        }

        &:-moz-range-progress {
            background-color: blue;
            height: 30px;
        }
    }

    & > .slider-number {
        color: #212121;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background-color: white;
        border-radius: 12px;

        padding: 10px 14px;

        width: 70px;
        text-align: center;
    }
}

._nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 90px;

    width: calc(100% - 40px);
    background-color: #f6f6f6;
    border-radius: 9px;

    padding: 30px 32px;
    margin: 20px;

    & > ._nav-button-home {
        color: #000;

        font-family: "Abel", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border-radius: 11px;
        border: 1.5px solid rgba(0, 0, 0, 0.7);
        background: rgba(199, 255, 231, 0.32);

        padding: 5px 30px;
        user-select: none;

        cursor: pointer;
    }

    & > ._nav-link-new-items {
        color: rgba(0, 0, 0, 0.9);

        font-family: "Abel", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        user-select: none;

        cursor: pointer;

        white-space: nowrap;

        position: relative;

        &::before {
            color: rgba(0, 0, 0, 0.25);
            font-family: "Inter", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            position: absolute;

            width: 4px;
            height: 44px;

            content: "";

            left: -45px;
            top: -4px;

            background-image: url("../image/items.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    & > ._nav-link-search {
        position: relative;

        &:before {
            position: absolute;
            top: 15px;
            left: 20px;

            width: 24px;
            height: 24px;

            content: "";

            background-image: url("../image/search.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;

            cursor: pointer;
        }

        & > input {
            width: 450px;
            height: 50px;

            color: rgba(0, 0, 0, 0.54);
            font-family: "Inter", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            border-radius: 11px;
            border: 0px solid rgba(0, 0, 0, 0.8);
            background: #fff;

            padding-left: 60px;
        }
    }

    & > ._nav-button-list {
        display: flex;
        gap: 90px;

        margin-left: auto;

        & > ._nav-button-list-item {
            width: 33px;
            height: 33px;

            content: "";

            cursor: pointer;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        & ._nav-button-list-item__bell {
            background-image: url("../image/bell.svg");
        }

        & ._nav-button-list-item__shopping-bag {
            background-image: url("../image/shopping-bag.svg");

            position: relative;

            &::before {
                position: absolute;

                color: rgba(0, 0, 0, 0.25);
                font-family: "Inter", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                width: 4px;
                height: 44px;

                left: -45px;
                top: -4px;

                content: "";

                background-image: url("../image/shopping.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        & ._nav-button-list-item__log-in {
            background-image: url("../image/log-in.svg");

            position: relative;

            &::before {
                position: absolute;

                color: rgba(0, 0, 0, 0.25);
                font-family: "Inter", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                width: 4px;
                height: 44px;

                left: -45px;
                top: -4px;

                content: "";

                background-image: url("../image/login.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

._interior-special {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 46px 54px;

    & > ._interior-special-title {
        color: #000;
        font-family: "Abel", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: relative;

        // margin: 46px 0 0 50px;
        user-select: none;

        &::after {
            width: 59px;
            height: 59px;

            position: absolute;

            content: "";

            background-image: url("../image/Star\ 1.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }
    }

    & > ._interior-special-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        // gap: 17px;
        // margin: 32px 0 0 50px;

        & > ._high-quality {
            width: 52%;
            height: 36vh;

            background-image: url("../image/special-background.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 27px;

            & > ._high_quality-title {
                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                padding: 50px 0 0 35px;

                user-select: none;
            }

            & > ._high_quality-par {
                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                padding: 11px 0 0 35px;

                user-select: none;
            }

            & > ._explore-now {
                display: inline-block;

                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;

                border-radius: 7px;
                background: rgba(164, 85, 10, 0.9);

                padding: 13px 37px;

                margin: 25px 0 0 35px;

                user-select: none;
            }
        }

        & > ._discount {
            width: 46.5%;
            height: 36vh;

            background-image: url("../image/discount-background.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 27px;

            padding: 41px;

            position: relative;

            &::after {
                position: absolute;

                width: 80px;
                height: 80px;

                content: "";

                left: 570px;
                top: calc(50% - 40px);

                background-image: url("../image/discount-arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            & > ._discount-title {
                width: fit-content;

                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                // padding: 41px 0 0 270px;

                margin-left: auto;

                user-select: none;
            }

            & > ._discount-num {
                width: fit-content;

                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 90px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                margin-left: auto;
                // padding: 2px 0 0 270px;

                user-select: none;
            }

            & > ._discount-par {
                width: fit-content;

                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                margin-left: auto;

                user-select: none;

                position: relative;

                &::before {
                    position: absolute;

                    width: 24px;
                    height: 24px;

                    content: "";

                    left: -37px;
                    top: 0;

                    background-image: url("../image/discount-check.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}

._interior-best {
    padding: 0;
    height: 35.85%;
    margin-top: auto;
    margin-bottom: 52px;

    & ._interior-title-best {
        color: #000;
        font-family: "Abel", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        user-select: none;
    }

    ._interior-radio_select {
        list-style-type: none;
        margin: 0;
        padding: 0;

        display: flex;
        gap: 15px;
    }

    ._interior-radio_select input {
        display: none;
    }

    ._interior-radio_select label {
        display: block;
        padding: 16px 24px;
        border-radius: 10px;
        border: 1px solid rgba(134, 134, 134, 0.437);

        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        cursor: pointer;
        user-select: none;
    }

    ._interior-radio_select input:checked + label {
        border: 1px solid rgba(19, 19, 19, 0.8);
        color: rgba(19, 19, 19, 0.8);
    }

    & ._interior-best-view {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        user-select: none;

        position: relative;

        padding-right: 20px;

        &::after {
            position: absolute;

            width: 68px;
            height: 1px;

            left: 4px;
            bottom: 0px;

            content: "";

            background-image: url("../image/view.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    & ._interior-best-sort {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        user-select: none;

        & > ._interior-select {
            color: #000;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            border-radius: 53px;
            background: #d9d9d9;

            position: relative;

            padding: 10px 31px 10px 20px;

            margin-left: 5px;

            &::after {
                position: absolute;

                width: 18px;
                height: 18px;

                content: "";

                background-image: url("../image/select.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
    }

    & ._interior-grid-item {
        width: 322px !important;
        height: 100%;

        border-radius: 25px;
        background: #fff;

        position: relative;

        & ._interior-grid-image {
            position: absolute;

            width: 402px;
            height: 402px;

            left: calc(50% - 201px);
            top: -150px;

            content: "";

            background-image: url("../image/interior-grid-image-1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;



            pointer-events: none;
        }

        & ._interior-grid-image__2 {
            background-image: url("../image/interior-grid-image-2.png");
        }

        & ._interior-grid-image__3 {
            background-image: url("../image/interior-grid-image-1.png");
        }

        & ._interior-grid-image__4 {
            background-image: url("../image/interior-grid-image-2.png");
        }

        & ._interior-grid-image__5 {
            background-image: url("../image/interior-grid-image-1.png");
        }

        & ._interior-grid-par {
            color: rgba(0, 0, 0, 0.39);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            user-select: none;

            margin-top: 200px;
            margin-left: 20px;
        }

        & ._interior-grid-title {
            color: rgba(0, 0, 0, 0.9);
            font-family: "Segoe UI Variable", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            padding-left: 20px;
            margin-top: 8px;

            user-select: none;

            position: relative;

            &::after {
                position: absolute;

                right: 40px;
                top: calc(50% - 9px);

                width: 14px;
                height: 18px;

                content: "";

                background-image: url("../image/interior-grid-title.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        & > ._interior-star {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3px;

            margin-top: 8px;
            margin-left: 20px;

            & > ._interior-star-item {
                width: 16px;
                height: 16px;

                // border: 1px solid black;

                background-image: url("../image/interior-star.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        & ._interior-grid-price {
            padding: 6px 12px;

            color: #000;
            font-family: sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 350;
            line-height: normal;

            user-select: none;

            border-radius: 9px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: #fff;
        }

        & ._interior-grid-price-button {
            width: 30px;
            height: 30px;

            border-radius: 9px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: #f1f1f1;

            cursor: pointer;

            background-image: url("../image/interior-grid-price-button.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;

        }
    }
}
