
._interior{
    width: 525px;
    height: 100vh;
    

    & > ._interior-title{
        color: #FFF;

        background-color: rgba(30, 30, 30, 0.86);
        
        font-family: 'Inter', sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        position: relative;

        padding: 30px 94px 46px 94px;

        box-sizing: border-box;
        user-select: none;

        &:after{
            position: absolute;
            top: 23px;
            right: 90px;

            width: 110px;
            height: 110px;

            content: "";

            background-image: url('../image/interior.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 90%;

           
        }
    }

    & ._interior-filter{
        display: flex;
        justify-content: space-between;

        & > ._filter{
            color: #FFF;

            font-family: 'Inter', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            margin: 22px 0 0 106px;
            
            cursor: pointer;
            user-select: none;
        }

        & > ._reset-filter{
            color: #F6F6F6;

            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            margin: 32px 36px 0 0;

            text-decoration: underline;
            text-underline-offset: 4px;

            cursor: pointer;
            user-select: none;
        }


    }

    & ._interior-checkbox-title{
        color: #FFF;

        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin: 47px 0 0 45px;
        user-select: none;
    }

    & ._interior-form-store{
        display: flex;
        flex-direction: column;

        margin: 30px 0 0 43px;
        gap: 20px;

    }

    & ._interior-form-products{
        display: flex;
        flex-direction: column;

        margin: 30px 0 0 43px;
        gap: 20px;
    }

    & ._interior-price{
        color: #FFF;

        font-family: 'Inte', sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin: 70px 0 0 45px;
        user-select: none;
    }

}




// <label for="products-checkbox-loundry" class="_interior-checkbox">
//                     <input type="checkbox" name="products-checkbox" id="products-checkbox-loundry">Loundry(14)
//                 </label>


._interior-checkbox{

    user-select: none;

    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    padding-left: 63px;
    
    position: relative;

    & > input{
        display: none;
    }

    &:after{
        position: absolute;
        top: 0;
        left: 0;

        width: 30px;
        height: 30px;

        content: "";

        border-radius: 3px;
        border: 2px solid #FFF;
        background: rgba(181, 181, 181, 0.35);
    }

    &:has(input:checked):after{
        background: rgba(255, 195, 139, 0.90);
        background-image: url('../image/vector.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}



// ._interior-form-products{
    // max-height: 20vh;
    // overflow-y: auto;

    // &::-webkit-scrollbar {
    //     width: 10px;
    // }
    
    // &::-webkit-scrollbar-track {
    //     background-color: rgb(228, 228, 228);

    //     border-radius: 10px;
    // }
    
    // &::-webkit-scrollbar-thumb {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.686);
    //     border-radius: 10px;
    // }
// }





// <div class="slider">
//                 <input type="range" min="0" max="1000" value="200" oninput="rangeValue.innerTex = this.value">
//                 <p id="rangeValue"200></p>
//             </div>



.slider{
    width: 500px;
    height: 60px;

    padding: 30px;
    padding-left: 40px;
    margin-top: 20px;
    gap: 20px;

    // background-color:aquamarine;
    border-radius: 20px;
    display: flex;
    align-items: center;
    user-select: none;


    margin: 20px auto;

    & > input[type="range"]{
        -webkit-appearance: none !important;

        width: 330px;
        height: 2px;


        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;

        &::-webkit-slider-thumb{
            -webkit-appearance: none !important;

            width: 30px;
            height: 30px;

            background-color: white;
            border: 3px solid black;
            border-radius: 20px;

            cursor: pointer;


            &:hover{
                background-color: orange;
            }
        }


        &:-moz-range-progress{
            background-color: blue;
            height: 30px;
        }

        

    }

    & > .slider-number{
        color: #212121;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background-color: white;
        border-radius: 12px;

        padding: 10px 14px;

        width: 70px;
        text-align: center;
    }


}


._nav-list{

    & > ._nav-button{
        display: flex;
        align-items: center;

        gap: 120px;

        & > ._nav-button-home{
            color: #000;

            font-family: 'Abel', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            border-radius: 11px;
            border: 1.5px solid rgba(0, 0, 0, 0.70);
            background: rgba(199, 255, 231, 0.32);

            padding: 5px 30px;
            margin: 30px 0 33px 42px;
            user-select: none;
        }

        & > ._nav-link-new-items{
            color: rgba(0, 0, 0, 0.90);

            font-family: 'Abel', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            user-select: none;
        }

        & > ._nav-link-search{
           
            position: relative;
        
            &:before{
                position: absolute;
                top: 15px;
                left: 20px;
        
                width: 24px;
                height: 24px;
        
                content: "";
        
                background-image: url('../image/search.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        
            & > input{
                width: 450px;
                height: 50px;

                color: rgba(0, 0, 0, 0.54);
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                border-radius: 11px;
                border: 0px solid rgba(0, 0, 0, 0.80);
                background: #FFF;

                padding-left: 60px;
            }
        }

        & > ._nav-button-list{
            position: relative;
            margin-left: -50px;
            top: -20px;

            & > ._nav-button-list-bell{
                width: 36px;
                height: 36px;

                position: absolute;
                content: "";

                background-image: url('../image/bell.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            & > ._nav-button-list-shopping-bag{
                width: 33px;
                height: 33px;

                position: absolute;
                content: "";

                background-image: url('../image/shopping-bag.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                
                left: 100px;
                
                
            }

            & > ._nav-button-list-log-in{
                width: 33px;
                height: 33px;

                position: absolute;
                content: "";

                background-image: url('../image/log-in.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                
                left: 200px;
                
            }
        }

       
        
    }
    
}

._interior-special{
    

    & > ._interior-special-title{
        color: #000;
        font-family: 'Abel', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & > ._interior-special-list{

        & > ._high-quality{


            & > ._high_quality-title{

            }

            & > ._high_quality-par{

            }

            & > ._explore-now{

            }
        }

        & > ._discount{

            & > ._discount-title{

            }

            & > ._discount-num{

            }

            & > ._discount-par{
                
            }

        }

    }

}




