._interior-control{
    height: calc(100vh - 168px);
    overflow-y: auto;

    background-color: rgba(30, 30, 30, 0.80);



    &::-webkit-scrollbar{
        display: none;
    }
}

._Interior{

    width: 100%;

    display: flex;
    flex-direction: column;
}

// ._interior-special{
    
// }